<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Impuestos</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la Calculadora de Impuestos</h1>
        <div class="button-container">
            <button onclick="location.href='/form'">Calcular Impuesto</button>
            <button onclick="location.href='/id_form'">Buscar o eliminar Registros</button>
            <button onclick="location.href='/update_record_form'">Actualizar registros</button>
        </div>
    </div>
</body>
</html>
